.background{
    
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.calendars{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}



