@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

.calendar{
    color: white;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 1em 1em;
    border-radius: 5%;
    font-size: clamp(20px,4%,100px);
    aspect-ratio: 4/3;
    color: black;
    display: flex;
    flex-direction: column;
    
}

.monthName{
    background-color: aqua;
    font-family: "Stack Sans Text", sans-serif;
}

.weekdays{
    
}

.monthDays{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}