@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

.calendar{
    color: white;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 1em 1em;
    border-radius: 5%;
    font-size: clamp(20px,4%,100px);
    aspect-ratio: 4/3;
    color: black;
    display: flex;
    flex-direction: column;
    
}

.monthName{
    background-color: aqua;
    font-family: "Stack Sans Text", sans-serif;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.weekdays{
    
}

.monthDays{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    justify-self: center;
    
}

.days{
    border: 2px solid black;
    margin: 0;
    aspect-ratio: 1/1;
    display: grid;
}

.days:hover{
    background-color: rgb(168, 168, 168);
    color: white;
    cursor: pointer;
}