.calendar{
    color: white;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 1em 1em;
    border-radius: 5%;
    font-size: clamp(20px,4%,100px);
    aspect-ratio: 4/3;
    color: black;
    display: flex;
    flex-direction: column;
}

.monthName{
    background-color: aqua;
    margin: 0;
    
    top: 0;
}