.calendar{
    color: white;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 1em 1em;
    border-radius: 5%;
    font-size: clamp(20px,4%,100px);
    height: 100%;
    color: black;
}

.monthName{
    background-color: aqua;
    top: 100px;
    margin: 0;
    border-radius: 5%;
}