.nav-bar{
    background-color: rgb(73, 95, 218);
    padding: 5rem 5rem;
    color: rgb(187, 187, 187);
    font-size: clamp(16px,5vw,32px);
    display: flex;
}

.home-btn{
    margin: 0 15%;
}

.home-btn:hover{
    cursor: pointer;
}

.favorite-btn{
    padding: 2em 2em;
    background-color: black;
    color: white;
    border-radius: 10%;
    right: 20%;
    margin: 0 15%;
    border: 1px solid rgba(255, 255, 255, 0.719);
    
}

.favorite-btn:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

.title{
    font-size: clamp(50px,5%,1000px);
}