@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

#nav-bar{
    background-color: rgb(73, 95, 218);
    /* padding: 5rem 5rem; */
    color: rgb(187, 187, 187);
    /* font-size: clamp(16px,5vw,70px); */
    display: flex;
    padding: 1em 1em;
    align-items: center;
    justify-content: center;
}

#home-btn{
    font-size: clamp(50px,5%,100px);
}

#home-btn:hover{
    cursor: pointer;
}

#favorite-btn{

    background-color: black;
    color: white;
    border-radius: 10%;
    /* right: 20%; */
    /* margin: 0 15%; */
    width: 10%;
    border: 1px solid rgba(255, 255, 255, 0.719);
    aspect-ratio: 3/1;
}

#favorite-btn:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

#title{
    font-size: clamp(50px,5%,100px);
    margin: 0 20%;
    font-family: "Momo Trust Display", sans-serif;
}

.navbar-elements{

}

#weekdaysContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}